BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
DerivePointerAlignment: false
IncludeBlocks: Regroup
